.header{
    background-color: fuchsia;
    padding: 25px;
}

.title{
    color: white;
    text-align: center;
}

.content {
    background-color: darkslateblue;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer{
    background-color: darkviolet;
    padding: 30px;
}

.card{
    width: 350px;
    padding: 15px;
    background-color: grey;
}
